body {
    background-color: lightgray;
    margin: 0%;
    font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

h1 {
    font-family: 'Georgia', Times, Times New Roman, serif;
}

header::after {
    content: '';
    display: table;
    clear: both;
}

header {
    background-color: #ffffff;
}

.name-tag {
    color: #ffffff;
    background-color:#4aaaa5;
    float: left;
    margin: 0;
    padding: 25px 0;
    
}

.topnav {
    width: 960px;
    border-width: 100px;
    margin-left: 10%;
}

nav {
    float: right;
    margin-left: 200px;
}

nav ul {
    margin: 30px -110px 0 50px;
    padding-left: 50px;
    list-style: none;
    text-decoration: none;
    
}

.button:link {
    text-decoration: none;
}

.button:visited {
    text-decoration: none;
}
.button:hover {
    text-decoration: none;
}

.button:active {
    text-decoration: none;
}

nav li {
    display: inline;
    margin-left: 30px;
    
}


#about {
    color: #4aaaa5;
    border-bottom: 2px solid lightgray;
    margin: 25px;
    padding: 25px 0px 25px 0px;
}

.container {
    background-color: #ffffff;
    margin: 50px 10% 100px 10%;
    border-width: 5px;
    
}

p {
    margin: 10px;
}

#p1 {
    line-height: 30px;
}

#p2 {
    line-height: 30px;
}

.profile-pic {
    float: left;
    margin: 25px;
}

.content {
    display: inline-block;
}

footer {
    text-align: center;
    background-color: #666666;
    border-top: 10px solid #4aaaa5;
    padding-bottom: 210px;
    color: #ffffff;
}

#copyright {
    padding-top: 100%;
}